@{
    ViewBag.Title = "OrderDetail";
    
}
<script src="~/Scripts/date/WdatePicker.js"></script>

<div class="search-criteria" style="padding: 20px 0; border-bottom: 1px dotted #e2e2e2">
    <form class="form-inline" role="form">
        <label class="control-label">下单时间</label>
        <div class="form-group">
            <div class="input-group">
                <input type="text" name="StartOrderTime" id="StartOrderTime" class="form-control input-sm" style="width: 120px">
                <span class="input-group-addon" onclick="WdatePicker({el:'StartOrderTime',dateFmt:'yyyy-MM-dd'});">T</span>
            </div>
            -
            <div class="input-group">
                <input type="text" name="EndOrderTime" id="EndOrderTime" class="form-control input-sm" style="width: 120px">
                <span class="input-group-addon" onclick="WdatePicker({el:'EndOrderTime',dateFmt:'yyyy-MM-dd'})">T</span>
            </div>
            <input type="hidden" name="CustomerId" class="form-control input-sm" value="@HttpContext.Current.Request.QueryString["CustomerId"]" />
            <button type="button" role="search" class="btn btn-primary btn-sm" style="margin-left: 23px; margin-top: 6px;">查询</button>
        </div>
    </form>
</div>

<div class="search-feedback">
</div>

<div class="search-action">
</div>

<div class="search-result table-responsive" style="margin-top: 20px;">
</div>

@section scripts{
    <script src="~/Scripts/Extension/jQueryExtension.js"></script>
    <script src="~/Scripts/jquery.loadmask.js"></script>

    <script src="~/Scripts/webExpress/webExpress.js"></script>
    <script src="~/Scripts/webExpress/webExpress.utility.js"></script>
    <script src="~/Scripts/webExpress/webExpress.utility.ajax.js"></script>

    <script src="~/Scripts/common/se.js"></script>
    <script src="~/Scripts/views/base/se.ui.control.Pager.js"></script>
    <script src="~/Scripts/views/base/se.ui.view.SearchViewBase.js"></script>
    <script>
        var viewInstance = new se.ui.view.SearchViewBase(new se.ui.view.SearchViewBase.Settings({
            url: "/Order/CustomerOrders",
        }));
        viewInstance.init();
    </script>
}
