@model PagedModel<SkuTypeItemModel>
<div class="search-result-table">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>商品类型</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @{
                var startNo = Model.PagingResult.PageIndex * Model.PagingResult.PageSize + 1;
                for (int i = 0; i < Model.Items.Count; i++)
                {
                    var item = Model.Items[i];
                <tr data-Id="@item.Id">
                    <td>@(startNo + i)</td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a href="#">操作</a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="search-result-pagination">
    @Html.Partial("_Pager", Model.PagingResult)
</div>
