<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ShopTest7Entities" connectionString="metadata=res://*/ShopTest.csdl|res://*/ShopTest.ssdl|res://*/ShopTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.8.8.169;initial catalog=ShopTest8;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopTest9Entities" connectionString="metadata=res://*/ShopTest.csdl|res://*/ShopTest.ssdl|res://*/ShopTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ShopTest9;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopTest10Entities" connectionString="metadata=res://*/ShopTest.csdl|res://*/ShopTest.ssdl|res://*/ShopTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.8.8.169;initial catalog=ShopTest10;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>